{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Яворівський Відпочинок</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eius consectetur aperiam?</h2>
                    <a class="btn btn-primary" href="#about">Глянути на будинки</a>
                </div>
            </div>
        </div>
    </header>


    <!-- Поки не годится -->
    <!-- <section id="about" class="about">
        <div class="container h-100">
  
          <div class="row text-center">
            <div class="col-lg-10">
              <img src="{% static 'main/img/map.png' %}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 pt-4 pt-lg-0">
              <h3>Voluptatem dignissimos provident</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>
  
        </div>
      </section> -->


    <section>
        <div class="container">
            <div class="row">
                <div class="col-12"><br><br><br><br></div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="container-fluid mh-100">
            <div class="row flex-fill h-100">
                <div class="col-lg-8 align-self-center">
                    <img class="img-fluid" src="{% static 'main/img/map.png' %}" alt="map">
                </div>

                <div class="col-lg-4 align-self-center">
                    <div class="describtion">
                        <h3 class="list">{{map_legend.name}}</h3>
                        <ol type="A">
                            {% for i in map_legend.legend %}
                            <li class="list-group-flush">{{i}}</li>
                            {% endfor %}
                        </ol>
                        <div id='more_button'>
                            <a href="{% url 'houses' %}"><button class="btn btn-dark">Детальніше про будинки</button></a>
                        </div>

                        <script>
                            const a = document.body.querySelector('#more_button');
                            // if ($(window).width() < 760 || $(window).height() < 760) {
                            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                                a.classList.add('text-center');
                            }
                        </script>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Поки не годится -->
    <!-- <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <img class="img-fluid" src="{% static 'main/img/map.png' %}" alt="...">
                </div>
            </div>
        </div>
    </section> -->


    <!-- Для уроків з ютубу по Джанго -->
    <!-- <div class="container">
        <div class="row">
            <p class="h1">{{ title }}</p>
            
            <ul>
                {% if cat_selected == 0 %}
                <li class="selected">Всі категорії</li>
                {% else %}
                <li><a href="{% url 'main' %}">Всі категорії</a></li>
                {% endif %}
            </ul>

            {% for c in cats %}
                {% if c.pk == cat_selected %}
                <li class="selected">{{c.name}}</li>
                {% else %}
                <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
                {% endif %}
            {% endfor %}

            <h1>{{ title }}</h1>
            {% for p in posts%}
                <div class="col-6">
                    <h2>{{p.title}}</h2>
                    <div class="d-flex">
                        <p class="small">{{p.cat}} |</p>
                        <p class="small">{{p.time_update|date:"d-m-Y H:i:s"}}</p>
                    </div>
                    <p>{{p.content|linebreaks|truncatewords:10}}</p>
                    <a href="{{ p.get_absolute_url }}" class="button">Детальніше</a>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
 -->
    <div class="container-fluid">

    </div>


    <!-- Core theme JS-->
    <script src="{% static 'main/js/scripts.js' %}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}